services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning

  bot:
    image: howardduck/f1bot-bot:latest   # <--- Качаем бота из облака!
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./fastf1_cache:/app/fastf1_cache
    depends_on:
      - redis

  web:
    image: howardduck/f1bot-web:latest   # <--- Качаем веб-сервер из облака!
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./fastf1_cache:/app/fastf1_cache
    depends_on:
      - redis
      - bot

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --url http://web:8000
    depends_on:
      - web

volumes:
  redis_data: